<!DOCTYPE html>
{% load static pipeline argonauts %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ethereum Alarm Clock{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        {% if ROLLBAR_CONFIG %}
            <script type="text/javascript">var _rollbarConfig = {{ ROLLBAR_CONFIG|json }};</script>
            {% javascript 'rollbar' %}
        {% endif %}

        {% stylesheet 'base' %}

        {% block extra_css %}
        {% endblock %}
    </head>

    <body>
    {% block body %}
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'site-index' %}">Ethereum Alarm Clock</a>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'site-index' %}#home-features">Features</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <p class="navbar-text">Address: <code>0x321a1e5e0ef137f37eeb5563c987d60ab9dcd8de</code></p>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'source-latest' %}">Source</a></li>
                    <li><a href="//docs.ethereum-alarm-clock.com">Documentation</a></li>
                    <li><a href="//blog.ethereum-alarm-clock.com">Blog</a></li>
                </ul>
            </div>
        </nav>
        <div class="main-content">
            {% block content_wrapper %}
            {% endblock content_wrapper %}
            <div id="footer" class="container">
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <ul class="list-inline">
                            <li>Created by Piper Merriam - <a href="https://github.com/pipermerriam/" target="_blank">github</a></li>
                        </ul>
                        <ul class="list-inline">
                            <li><a href="{% url 'bug-bounty' %}">Report a Bug</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% javascript 'base' %}

        {% block extra_javascript %}
        {% endblock %}
    {% endblock body %}
    </body>
</html>
