{% extends "layout_wide.html" %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Report a Bug</h1>
        </div>
        <p>All bugs and vulnerabilities should be reported to <strong>pipermerriam@gmail.com</strong> or to <strong>pipermerriam</strong> on gitter chat.</p>

        <p>Any security related issues will be eligible for a bounty ranging from 10-100 ether depending on the severity of the exploit.  The bounty is subject to the following restrictions.</p>
        <ul>
            <li>Only issues with the source code of the most recent publicly deployed contract is eligible for the bounty.</li>
            <li>Only the first person to report an issue will be paid.</li>
            <li>Only issues that are privately disclosed in a manner that allows the issue to be fixed prior to public disclosure are eligible.</li>
        </ul>

        <p>Happy Hunting!</p>
    </div>
</div>
{% endblock %}
