{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content_wrapper %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="home-top" class="page-header">
                <h1>Ethereum Alarm Service <small>Cron for contract functions.</small></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <h2>Schedule Contract Function Calls</h2>
            <p>Schedule function calls on any contract to be executed at a specified block in the future.</p>
        </div>
        <div class="col-md-5">
            <p>Picture Here?</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Open</h3>
            <p>The source code is published and verifiable.</p>
        </div>
        <div class="col-md-4">
            <h3>In Network</h3>
            <p>No external services used.  100% contained within the ethereum network.</p>
        </div>
        <div class="col-md-4">
            <h3>Trustless</h3>
            <p>No special access to any part of the contract.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="home-features" class="page-header">
                <h1>Features</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h4>Documentation</h4>
            <p>Thoroughly documented with plenty of examples to get you started</p>
        </div>
        <div class="col-md-3">
            <h4>Simple API</h4>
            <p>Thoroughly documented with plenty of examples to get you started</p>
        </div>
    </div>

</div>
{% endblock content_wrapper %}
